.HC-title {
  width: 70%;
}
.HC-background {
  background-image: url("img/webback.webp");
  background-size: cover;
}
.rules-img {
  width: 30%;
}
.gray-button {
  background-color: #4a4e56;
  color: white;
}

.rounded-corners {
  border-radius: 10px;
}
.nav-link[aria-current="page"] {
  text-decoration: underline wavy #f8c348 0.15rem;
  text-underline-offset: 0.5rem;
}



/* Clear floats after the columns */

.card{
  background-color: rgb(28, 30, 32);
}
.card-body {
  background-color:rgb(36, 39, 41)
}
a {
  text-decoration-color: none;
  text-decoration: none
}
:root {
  --color-text: 245, 245, 245;
  --color-background: #000;
  --color-main: #396924;
}


